header#banner.hero-unit
  .container
    h1 Trailers
    p Stay tuned daily for the latest movie and tv series trailers
    
.container
  .row
    .col-md-8.col-md-offset-2
      .form-group.has-success
        input.trailer-search.form-control(type='text')
.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='trailer in $ctrl.awesomeTrailer')
        li
          a(href='#', uib-tooltip='{{trailer.title}}')
            | {{trailer.title}}
            button.close(type='button', ng-click='$ctrl.deleteTrailer(traielr)') &times;
.container.trailer-container
  .row
    .col-xs-12
      .col-xs-6
        .form-group.pull-left
          input.form-control.input-sm(type='text', placeholder='genre')
      .col-xs-6
        .dropdown.pull-right
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='true')
            | Date
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li
              a(href='#') Separated link
            li.divider
            li
              a(href='#') One more separated link
        span.pull-right Sort By:&nbsp; 
    .col-xs-12
      .col-xs-6.col-sm-4.col-md-3.trailer-thumbnail(ng-repeat='trailer in $ctrl.awesomeTrailer')
        .trailer-name
          img.poster-img(src="{{trailer.posterUrl}}")
          h4 {{trailer.title}}
          p {{trailer.studio}}
      .col-xs-6.col-sm-4.col-md-3.trailer-thumbnail(ng-repeat='trailer in $ctrl.awesomeTrailer')
        .trailer-name
          img.poster-img(src="{{trailer.posterUrl}}")
          h4 {{trailer.title}}
          p {{trailer.studio}}
