header#banner.hero-unit
  .container
    h1 Trailers
    p Stay tuned daily for the latest movie and tv series trailers
    
.container
  .row
    .col-md-8.col-md-offset-2
      .form-group.has-success
        input.trailer-search.form-control(type='text')
.container.trailer-container
  .row
    .col-xs-12
      .col-xs-6
        .form-group.pull-left
          input.form-control.input-sm(type='text', placeholder='genre')
      .col-xs-6
        span(uib-dropdown, on-toggle='toggled(open)').pull-right
          a#simple-dropdown(href='#', uib-dropdown-toggle)
            | Date
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Name
            li
              a(href='#') Genre
            li
              a(href='#') Release Date
        span.pull-right Sort By:&nbsp;
    .col-xs-12
      .col-xs-6.col-sm-4.col-md-3.trailer-thumbnail(ng-repeat='trailer in $ctrl.awesomeTrailer')
        a.trailer-name(href='/{{trailer._id}}')
          img.poster-img(src="{{trailer.posterUrl}}")
          h4 {{trailer.title}}
          p {{trailer.studio}}
      .col-xs-6.col-sm-4.col-md-3.trailer-thumbnail(ng-repeat='trailer in $ctrl.awesomeTrailer')
        a.trailer-name(href='/{{trailer._id}}')
          img.poster-img(src="{{trailer.posterUrl}}")
          h4 {{trailer.title}}
          p {{trailer.studio}}
